#header{
  background-image: url('../CSUF21EEC521GROUP30/BackgroundHF/BGH.jpg');
}

#header{
  height: 180px;
}

#footer{
  background-image: url('../CSUF21EEC521GROUP30/BackgroundHF/BGF4.jpg');
}
#footer {
  height: 150px;
}

#promo1, #promo2, #promo3 {
  background-color: grey;
}

#promo1 {
  height: 420px;
}

#promo2 {
  height: 180px;
}

#promo3 {
  height: 210px;
}

#reviewText, #reviewImage1, #reviewImage2 {
  background-color: white;
}

#reviewText {
  height: 500px;
}

#reviewImage1 {
  height: 240px;
}

#reviewImage2 {
  height: 230px;
}

.gallery-item{
  width: 800px;
}
.carousel-inner {
  height: 800px;
}

#gallery-item-1 {
}

#gallery-item-2 {
}

#gallery-item-3 {
}

#gallery-item-4 {
}

#gallery-item-5 {
}

#gallery-item-6 {
}

#gallery-item-7 {
}

#gallery-item-8 {
}

