#header, #footer {
  background-color: #ECECEB;
}

#footer {
  height: 100px;
}

#promo1, #promo2, #promo3 {
  background-color: #B9B9B6;
}

#promo1 {
  height: 400px;
}

#promo2 {
  height: 150px;
}

#promo3 {
  height: 230px;
}

.gallery-item {
  height: 300px;
}

#gallery-item-1 {
  background-color: #F99782;
}

#gallery-item-2 {
  background-color: #ABF776;
}

#gallery-item-3 {
  background-color: #D476F7;
}
