#header, #footer {
  background-color: lightgoldenrodyellow;
}

#footer {
  height: 100px;
}

#promo1, #promo2, #promo3 {
  background-color: grey;
}

#promo1 {
  height: 420px;
}

#promo2 {
  height: 200px;
}

#promo3 {
  height: 200px;
}

.gallery-item{
  width: 800px;
}
.carousel-inner {
  height: 800px;
}

#gallery-item-1 {
  background-image: url('../Images/Image1.jpg');
}

#gallery-item-2 {
  background-image: url('../Images/Image2.jpg');
}

#gallery-item-3 {
  background-image: url('../Images/Image3.jpg');
}

#gallery-item-4 {
  background-image: url('../Images/Image4.jpg')
}

#gallery-item-5 {
background-image: url('../Images/Image5.jpg');
}

#gallery-item-6 {
  background-image: url('../Images/Image6.jpg');
}

#gallery-item-7 {
  background-image: url('../Images/Image7.jpg');
}

#gallery-item-8 {
  background-image: url('../Images/Image8.jpg');
}